body {
  Display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background: rgb(2,0,36);
background-color: lightblue;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width 400px;
}

.inputs {
  widht: inherit;
  display: flex;
  flex-direction: column;
}

.inputs {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

}

.resultSection{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px

}
